{erl_opts, [warnings_as_errors, warn_export_all, debug_info]}.

{pre_hooks, [
  {compile, "cargo build --manifest-path=native/sorted_set_nif/Cargo.toml --release --features erl"},
  {compile, "sh -c \"mkdir -p priv && cp native/sorted_set_nif/target/release/libsorted_set_nif.so priv/libsorted_set_erl.so\""},
  {clean,   "rm -fr ebin priv erl_crash.dump priv/*.so native/sorted_set_nif/target"},
  {eunit,   "cargo test --manifest-path=native/sorted_set_nif/Cargo.toml --features erl"}
]}.

%{relx, [{dev_mode, false}, {include_erts, false}, {include_src, false}]}.
